<ul id="print" class="treeview-menu">
  <li>
    <form class="g3w-search-form form-horizonal">
      <div class="box-body">
        <transition :duration="500" name="fade">
          <bar-loader :loading="state.loading"></bar-loader>
        </transition>
        <helpdiv message='sdk.print.help'></helpdiv>
        <label for="templates">Template</label>
        <select class="form-control" @change="onChangeTemplate" v-model="state.template" :style="{marginBottom: this.state.atlas && '10px'}" id="templates">
          <option v-for="print in state.print" :value="print.name">{{ print.name }}</option>
        </select>
        <template v-if="!state.atlas">
          <label for="scala" v-t="'sdk.print.scale'"></label>
          <select class="form-control" @change="onChangeScale" v-model="state.scala" id="scala">
            <option v-for="scala in state.scale" :value="scala.value">{{ scala.label }}</option>
          </select>
          <label for="dpi">dpi</label>
          <select class="form-control" @change="onChangeDpi"  v-model="state.dpi" id="dpi" >
            <option v-for="dpi in state.dpis" >{{ dpi }}</option>
          </select>
          <label for="rotation" v-t="'sdk.print.rotation'"></label>
          <input min="-360" max="360"  @input="onChangeRotation" v-model="state.rotation" id="rotation" class="form-control" type="number">
          <label for="format" v-t="'sdk.print.format'"></label>
          <select class="form-control" v-model="state.output.format" id="format">
            <option v-for="format in state.formats" :value="format.value">{{ format.label }}</option>
          </select>
        </template>
        <template v-else-if="state.atlas.field_name">
          <select-atlas-field-values @set-values="setAtlasValues" :atlas="state.atlas" :reset="!state.isShow"></select-atlas-field-values>
        </template>
        <template v-else>
          <fid-atlas-values @set-values="setAtlasValues" :atlas="state.atlas" :reset="!state.isShow"></fid-atlas-values>
        </template>
      </div>
      <div class="box-footer" style="background-color: transparent">
        <span>
          <button id="printbutton" style="width:100%; font-weight: bold" class="sidebar-button btn skin-button" @click.stop.prevent="print" v-download v-t="'create_print'"></button>
        </span>
      </div>
    </form>
  </li>
</ul>
<script>
  import Atlas_autocomplete from "./components/autocomplete";
  import Fidatlasvalues from "./components/fidatlasvalues";
  export default {
    components: {Fidatlasvalues, Atlas_autocomplete}
  }
</script>