<div class="g3w-viewport">
  <transition name="fade" :duration="{ enter: 800, leave: 500 }">
    <user-message
            v-if="usermessage.show"
            @close-usermessage="closeUserMessage"
            :title="usermessage.title"
            :id="usermessage.id"
            :message="usermessage.message"
            :draggable="usermessage.draggable"
            :closable="usermessage.closable"
            :position="usermessage.position"
            :autoclose="usermessage.autoclose"
            :textMessage="usermessage.textMessage"
            :size="usermessage.size"
            :type="usermessage.type">
      <template v-if="hooks.header" v-slot:header>
        <component :is="hooks.header"></component>
      </template>
      <template v-if="hooks.body" v-slot:body>
        <component :is="hooks.body"></component>
      </template>
      <template v-if="hooks.footer" v-slot:footer>
        <component :is="usermessage.hooks.footer"></component>
      </template>
    </user-message>
  </transition>
  <div id="g3w-view-map" :class="`split-${state.split}`" class="g3w-view map" :style="styles.map">
    <g3w-resize id="resize-map-and-content" :show="showresize"
      :moveFnc="moveFnc"
      :orientation="state.split"
      :style="{backgroundColor:'transparent'}"
      :class="`split-${state.split}`"></g3w-resize>
    <div id="application-notifications">
      <online-notify></online-notify>
      <download-notify></download-notify>
      <plugins-notify></plugins-notify>
    </div>
  </div>
  <div id="g3w-view-content" :class="`split-${state.split}`" class="g3w-view content" style="z-index: 1000" :style="styles.content">
    <div v-if="(showtitle && contentTitle) || previousTitle || (state.content.closable && state.content.aside)" class="close-panel-block" style="display: flex; justify-content: space-between">
      <div v-if="previousTitle" class="g3w_contents_back">
        <div :class="backOrBackTo" v-if ="backOrBackTo === 'back'">
          <span class="action-button" :class="g3wtemplate.getFontClass('back')"></span>
          <span v-t="'back'"></span>
        </div>
        <div @click="gotoPreviousContent()" :class="backOrBackTo" v-else>
          <span class="action-button" :class="g3wtemplate.getFontClass('back')"></span>
          <span v-t="'backto'"></span>
          <span v-t="previousTitle"></span>
        </div>
      </div>
      <span v-if="state.content.closable && state.content.aside" @click="closeContent" style="margin-left: 10px;"  :class="{'mobile': isMobile()}" class="g3w-span-button fa-stack fa-lg pull-right">
        <i :class="g3wtemplate.getFontClass('circle')"  class="fa-stack-2x panel-button"></i>
        <i :class="g3wtemplate.getFontClass('close')" class="fa-stack-1x panel-icon"></i>
      </span>
      <div class="panel-title" :style="[state.content.style.title]" v-if="!previousTitle && showtitle && contentTitle" :class="{'mobile': isMobile()}">
        <span id="contenttitle" v-t:pre="contentTitle.title">
          <span v-t="contentTitle.post_title"></span>
        </span>
      </div>
    </div>
    <div v-show="state.content.loading" class="bar-loader"></div>
  </div>
</div>