<div style="position: relative">
  <div style="display: flex;justify-content: flex-end;height: 35px;margin-right: 12px; margin-bottom: 5px">
    <button ref="g3w-input-lat-lon" @click.prevent.stop="toggleGetCoordinate" :style="{border: coordinatebutton.active ? '2px solid' : 0}"
      data-placement="left" data-toggle="tooltip" v-t-tooltip="'sdk.form.inputs.tooltips.lonlat'"
      class="action skin-tooltip-left skin-color skin-border-color"
      style="border-radius: 5px; font-weight: bold; font-size: 20px; cursor: pointer"
      :class="g3wtemplate.font['crosshairs']">
    </button>
  </div>

  <baseinput :state="state">
    <label slot="label" :for="lonId" class="col-sm-4 control-label">{{state.labels.lon}}
      <span v-if="state.validate && state.validate.required">*</span>
    </label>
    <div slot="body">
      <input
       :id="lonId"
       @change="changeLonLat"
       :class="{'input-error-validation' : notvalid}"
       class="form-control"
       style="width:100%; margin-bottom: 5px;"
       v-disabled="!editable"
       v-model="state.values.lon"
       type="number"
       min="-180"
       max="180"
       placeholder="Lon">
    </div>
  </baseinput>
  <baseinput :state="state">
    <label slot="label" :for="latId" class="col-sm-4 control-label">{{ state.labels.lat }}
      <span v-if="state.validate && state.validate.required">*</span>
    </label>
    <div slot="body" >
      <input
        :id="latId"
        @change="changeLonLat"
        class="form-control"
        style="width:100%; margin-bottom: 5px;"
        v-disabled="!editable"
        v-model="state.values.lat"
        type="number"
        :class="{'input-error-validation' : notvalid}"
        min="-90"
        max="90"
        placeholder="Lon">
    </div>
  </baseinput>

</div>
