{
  "presets": [
    ["env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "IE >= 9"
          ]
        }
      }]
  ],
  "plugins": [
    "transform-remove-strict-mode",
    "transform-object-rest-spread"
  ]
}
