{
  "presets": [
    [
      "env", {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ]
  ],
  "plugins": [
    "transform-remove-strict-mode",
    "transform-object-rest-spread"
  ]
}
