{
  "presets": [
    [
      "env",
      {
        "exclude": [
          "transform-regenerator"
        ]
      }
    ]
  ],
  "plugins": [
    "transform-remove-strict-mode",
    "transform-object-rest-spread"
  ]
}