*~
.idea
package-lock.json
/assets/style/less/g3w-skins-custom/
/build
/config.js
/cypress.env.json
/deploy/
/dist
/documento.odt
/g3w-admin/
/node_modules
/npm-debug.log
/test/
/test/config/
/src/app/__dev__/
/src/app/core/iframe/test/
/src/app/dev/
/src/config/dev/index.js
/src/config/keys/index.js
/src/libs/sdk/config/dev/
/src/libs/sdk/g3w-ol3/config/config.js
/src/index.html
/src/plugins/