/npm-debug.log
/node_modules
/dist
/build
.idea
*~
/documento.odt
/src/index.html
/config.js
/test/
/deploy/
/src/libs/sdk/g3w-ol3/config/config.js
/src/libs/sdk/config/dev/
/src/plugins/
/src/app/dev/
/src/config/keys/index.js
/cypress.env.json
/test/config/
/src/app/core/iframe/test/
/src/config/dev/index.js
