<li
  class="tree-item"
  @contextmenu.prevent.stop="showLayerMenu(layerstree, $event)"
  @click.prevent="select"
  :class="{
    selected: !isFolder || !isTable ? layerstree.selected : false,
    itemmarginbottom: !isFolder,  disabled: isDisabled  }">
  <span v-if="isFolder"
    style="padding-right: 2px;"
    :class="[{bold : isFolder}, layerstree.expanded ? g3wtemplate.getFontClass('caret-down') : g3wtemplate.getFontClass('caret-right')]"
    @click="expandCollapse"
    class="root collapse-expande-collapse-icon">
  </span>
  <span v-if="isFolder"
    @click.stop="toggle(true)"
    style="color: #ffffff"
    :class="[triClass()]">
  </span>
  <span v-else-if="isTable"
        v-show="!layerstree.hidden"
        :style="{paddingLeft: legendplace === 'toc' ? '18px' : '25px'}"
        :class="[parentFolder ? 'child' : 'root', g3wtemplate.getFontClass('table')]">
  </span>
  <template v-else>
    <span style="color: red" v-if="layerstree.external && layerstree.removable"
          :class="g3wtemplate.getFontClass('trash')"
          @click="removeExternalLayer(layerstree.name)">
    </span>
    <span style="color: #ffffff; margin-left: 5px;" v-if="layerstree.external && layerstree.download"
          :class="g3wtemplate.getFontClass('download')"
          @click="downloadExternalLayer(layerstree.download)">
    </span>
    <span v-show="!layerstree.hidden" class="checkbox-layer" :class="parentFolder ? 'child' : 'root'">
      <span class="collapse-expande-collapse-icon" v-if="legendplace === 'toc' && layerstree.legend && layerstree.visible"
            @click.stop="()=> layerstree.legend.show = !layerstree.legend.show"
        :class="g3wtemplate.getFontClass(layerstree.legend.show ? 'caret-down' : 'caret-right')"></span>
      <span :style="{paddingLeft: (legendplace === 'toc' && layerstree.visible && layerstree.legend) ? '6px' : (!layerstree.legend && layerstree.external) ? '6px' :
         (legendplace === 'toc') ? '19px' : '26px'}"
        @click.stop="toggle(false)"
        :class="[g3wtemplate.getFontClass(layerstree.checked ? 'check': 'uncheck'), {'toc-added-external-layer':(!layerstree.legend && layerstree.external)}]">
      </span>
    </span>
  </template>

  <div v-show="!layerstree.hidden || isFolder"
    class="tree-node-title"
    :class="{disabled: layerstree.disabled, bold: isFolder}">
      <span
        :class="{highlightlayer: isHighLight, scalevisibility: showscalevisibilityclass}"
        class="skin-tooltip-top"
        data-placement="top"
        :current-tooltip="showScaleVisibilityToolip ? `minscale:${layerstree.minscale} - maxscale: ${layerstree.maxscale}` : ''"
        v-t-tooltip.text = "showScaleVisibilityToolip ? `minscale:${layerstree.minscale} - maxscale:${layerstree.maxscale}` : ''">
        {{ layerstree.title }}
      </span>
      <div v-if="(!isFolder && !layerstree.external)">
        <span v-if="layerstree.selection.active" class="action-button skin-tooltip-left selection-filter-icon" data-placement="left" data-toggle="tooltip" :class="g3wtemplate.getFontClass('success')" @click.caputure.prevent.stop="clearSelection" v-t-tooltip.create="'layer_selection_filter.tools.clear'"></span>
        <span v-if="layerstree.selection.active || layerstree.filter.active" class="action-button skin-tooltip-left selection-filter-icon" data-placement="left" data-toggle="tooltip" :class="[g3wtemplate.getFontClass('filter'), layerstree.filter.active ? 'active' : '']" @click.caputure.prevent.stop="toggleFilterLayer" v-t-tooltip.create="'layer_selection_filter.tools.filter'"></span>
      </div>
  </div>
  <layerlegend v-if="legendplace === 'toc' && layerstree.legend" :layer="layerstree"></layerlegend>
  <ul v-if="isFolder" class="tree-content-items" :class="[`g3w-lendplace-${legendplace}`, {root: root}]" v-show="layerstree.expanded">
    <tristate-tree
      :root="false"
      :legendConfig="legend"
      :legendplace="legendplace"
      :highlightlayers="highlightlayers"
      :parentFolder="isFolder"
      :layerstree="_layerstree"
      :storeid="storeid"
      :parent="layerstree"
      :parent_mutually_exclusive="!!layerstree.mutually_exclusive"
      v-for="_layerstree in layerstree.nodes" :key="layerstree.id">
    </tristate-tree>
  </ul>
</li>
