.ol-control, .ol-custom-overviewmap {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  button {
    display: block;
    margin: 0;
    //margin-left: 2px;
    padding: 2px 6px;
    text-decoration: none;
    text-align: center;
    height: 33px;
    width: 33px;
    line-height: 1.42857143;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    font-family: icomoon;
    font-weight: 300;
    float:left;
  }
  button:hover {
    text-decoration: none;

  }
  button:focus{
    text-decoration: none;
    outline: none;
  }
}

.ol-overviewmap:not(.ol-collapsed) button {
  bottom: 5px;
}

.ol-overviewmap:hover {
  background-color: rgba(255,255,255, 1) !important;
}

.ol-mouse-position {
  position: relative !important;
  //padding: 1px 5px 5px 5px;
  height: 20px;
  font-weight: bold;
  font-size: 0.9em;
  margin-left: 8px;
}

.ol-mouse-position-default {
  right: 50px;
  border-radius: 4px;
  z-index: 1;
}

.ol-mouse-position-default {
  color: #ffffff;
}

.ol-custom-overviewmap {
  button {
    display: inline-block;
    span {
      font-size: 15px;
      font-weight: bold;
      position: absolute;
      margin: -6px;
    }
  }
}

.ol-custom-overviewmap  {
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
  border-radius: 5px;
  button {
    left: 3px;
    bottom: 8px;
    width: 30px;
    height: 30px;
  }
}

.ol-custom-overviewmap .ol-overviewmap-map {
  border: none;
  height: 150px;
  width: 200px;
}


.ol-custom-overviewmap.ol-collapsed {
  border: 0px;
}


.ol-control:hover {
  background-color: transparent;
}

// top left
.ol-control-tl {
  top: 7px;
  left:7px;
}

//botton left
.ol-control-bl {
  bottom: 40px;
  left:7px;
}

// top right
.ol-control-tr {
  top: 7px;
  right:7px;
}

// botton right
.ol-control-br {
  bottom: 7px;
  right:7px;
  min-height: 20px;
}

.ol-zoom {
  .ol-zoom-in {
    border-radius: 4px;
    display: block;
  }
  .ol-zoom-out {
    border-radius: 4px;
    display: block;
  }
}

.ol-scale-control {
  bottom: 15px;
  span.select2-selection {
    border-radius: 5px;
  }
}

.ol-scale-line {
  left: auto;
  font-weight: bold;
  bottom: 35px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.4);
}

#scale-control {
  .select2-selection__rendered{
    font-weight: bold !important;
  }
  .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    height: 30px !important;
    background-color: #eee;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
  }
}

.ol-rotate {
  top: 50px;
  left: 0;
  button {
    box-shadow: 0 3px 5px rgba(0,0,0,0.5);
    span {
      font-weight: bold;
    }
  }
}

.ol-hidden {
  display:none;
}

.ol-attribution li a {
  font-weight: bold;
}

.g3w-ol-disabled {
  .opacity(.70);
  cursor: not-allowed;
}


/// nominatim
.ol-attribution.ol-unselectable.ol-uncollapsible {
  ul {
    @media (max-width: 578px) {
      font-size: 0.8em;
    }
  }
}

/* qui messo i css del tooltip */

.mtooltip {
  position: relative;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}

.mtooltip-measure {
  opacity: 1;
  font-weight: bold;
}

.mtooltip-measure:before,
.mtooltip-static:before {
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}

.controls-toggle {
  position: absolute;
  z-index: 1;
  left:0 !important;
  top: 50px;
  cursor: pointer;
  color: white;
  background-image: none;
  padding: 12.5px;
  //Add the fontawesome bars icon
  font-family: fontAwesome;
  &:before {
    content: "";
  }
  &:focus,
  &:hover {
    color: #fff;
  }
  @media (max-width: @screen-xs-max) {
    left: @sidebar-width-small;
  }
}

.ol-attribution {
  background-color: transparent !important;
  text-align: left !important;
  right: auto !important;
  position: relative !important;
  top: 5px !important;
  max-width: 100% !important;
}

.ol-attribution ul {
  font-size: 1.0em !important;
}

.ol-attribution ul > lilaafirst-child {
  display: none
}


.ol-attribution.ol-uncollapsible {
  height: 1.3em !important;
}

.g3w-map-controls {
  position: absolute;
  flex-wrap: wrap;
  z-index: 1;
  display: flex;
  .ol-zoom-extent {
    top:0;
    left:0;
  }
  .ol-control {
    position:relative;
    button {
      box-shadow: 0 3px 5px rgba(0,0,0,0.5);
    }
  }
  .ol-zoom {
    top:0;
    left:0;
  }
}

.g3w-map-controls.lh {
  top:60px;
  left: 0;
  flex-direction: row;
}

.g3w-map-controls.rh {
  top:8px;
  right: 0;
  flex-direction: row;
  @media (max-width: 578px) {
    top: 50px;
    left: 0;
  }
}

.controls-inside-v {
  flex-direction: column;
  .ol-control {
    padding: 3px;
  }
  .ol-zoom {
    .ol-zoom-in {
      float: none;
      margin-bottom: 6px;
    }
  }
}

.g3w-map-controls.lv {
  top:60px;
  left: 0;
  align-items: flex-start;
  .controls-inside-v;
}

.g3w-map-controls.rv {
  top: 8px;
  right: 5px;
  align-items: flex-end;
  .controls-inside-v;
}

.info_mapcontrol_button {
  text-align: center;
  margin-top: -5px;
  margin-left: -15px;
  font-weight: bold;
  color: #ffffff;
  position:absolute;
  top:0;
  left:0;
  width:20px;
  height:20px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
  border: 2px solid #ffffff;
  border-radius:50%;
  cursor: pointer;
}

.tool_mapcontrol_button {
  text-align: center;
  margin-bottom: -5px;
  margin-left: -15px;
  font-weight: bold;
  color: #ffffff;
  position:absolute;
  bottom:0;
  left:0;
  width:22px;
  height:22px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
  border: 2px solid #ffffff;
  border-radius:50%;
  cursor: pointer;
}
