/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 100000;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  box-shadow:
    var(--skin-color) 1.5em 0 0 0,
    var(--skin-color) 1.1em 1.1em 0 0,
    var(--skin-color) 0 1.5em 0 0,
    var(--skin-color) -1.1em 1.1em 0 0,
    var(--skin-color) -1.5em 0 0 0,
    var(--skin-color) -1.1em -1.1em 0 0,
    var(--skin-color) 0 -1.5em 0 0,
    var(--skin-color) 1.1em -1.1em 0 0;
}

/* Animation */
@keyframes spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// Quadratino spinner
.spinner-wrapper {
  top: 0;
  right: 0;
  padding: .5em;
  color: var(--skin-color, @light-blue);
  background-color: transparent;
}

.spinner-wrapper .spinner {
  width: 80px;
  height: 80px;
  animation: circle infinite .75s linear;
  border-top-color: transparent;
  border-radius: 100%;
  border: 8px solid var(--skin-color);
}

.spinner-wrapper .spinner.transparent {
  border: 8px solid var(--skin-color);
  border-top-color: transparent;
}

.spinner-wrapper .spinner.blue {
  border: 8px solid #fff;
  border-top-color: transparent;
}

@keyframes circle {
  0%   { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

.bar-loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}

.bar-loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  from { left: -200px; width: 30%; }
  50%  { width: 30%; }
  70%  { width: 70%; }
  80%  { left: 50%; }
  95%  { left: 120%; }
  to   { left: 100%; }
}

#startingspinner {
  position: fixed;
  z-index: 100000;
  height: 10em;
  width: 10em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#startingspinner .double-bounce1,
#startingspinner .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--skin-color, @light-blue);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

#startingspinner .double-bounce2 {
  animation-delay: -1.0s;
}

@keyframes sk-bounce {
  0%, 100% { transform: scale(0.0); }
  50%      { transform: scale(1.0); }
}

.spinner-wrapper.blue           { color: white; background-color: @light-blue; }
.spinner-wrapper.green          { color: white; background-color: @green; }
.spinner-wrapper.purple         { color: white; background-color: @purple; }
.spinner-wrapper.red            { color: white; background-color: @red; }
.spinner-wrapper.yellow         { color: white; background-color: @yellow; }
.skin-blue   .bar-loader:before { background-color: darken(@light-blue, 20%); }
.skin-green  .bar-loader:before { background-color: darken(@green, 20%); }
.skin-purple .bar-loader:before { background-color: darken(@purple, 20%); }
.skin-red    .bar-loader:before { background-color: darken(@red, 20%); }
.skin-yellow .bar-loader:before { background-color: darken(@yellow, 20%); }