ul.g3w-tools  {
  padding-left: 0px;
  line-height: 1.5em;
  list-style-type: none;
  > li {
    color: white;
    background-color:@sidebar-dark-submenu-bg;
    margin: 0px 10px 0px 5px;
    > * {
      padding: 5px 5px 5px 5px;
    }
    .tool-header {
      font-size: 1.1em;
      font-weight: bold;
      background-color:lighten(@sidebar-dark-submenu-bg, 15%);
      cursor: pointer;
      span {
        margin-left:5px;
        vertical-align:middle;
      }
    }
    .tool-box {
      // border-bottom: 1px solid lighten(@sidebar-dark-submenu-bg, 15%);
      i {
        width: 20px;
      }
    }
    .tool {
      cursor:pointer;
      padding: 5px;
      border-radius: 2px;
    }
  }
  .tool:hover {
    background-color: #374850;
  }
}

/**
 * SHOW FIRST TOOL GROUP ELEMENT IN CASE OF SINGLE ELEMENT 
 */

#tools.single .g3w-tools {
  display: block !important;
}

#tools.single > a,
#tools.single .g3w-tools .tool-header {
  display: none !important;
}

#tools.single .tool i {
  color: #FFE721;
}

#tools.single .tool {
  padding: 12px 5px 12px 12px;
}
#tools.single li,
#tools.single .tool,
#tools.single .g3w-tools {
  background-color: transparent;
}

#tools.single li {
  color: #fff;
  font-weight: bold;
  border-left: 3px solid transparent;
}

#tools.single li:hover {
  border-left-color: #e99611;  
  background: #1e282c;
}

