<div class="g3wform_content" style="position: relative">
  <bar-loader :loading="state.loading"></bar-loader>
  <g3wformheader ref="g3wformheader"
    :currentid="state.currentheaderid"
    :headers="state.headers"
    @resize-form="resizeForm"
    @clickheader="switchComponent">
  </g3wformheader>
  <div class="g3wform_body" ref="g3wform_body">
    <component v-for="component in body.components.before" :is="component"></component>
    <keep-alive>
      <component
        :handleRelation="handleRelation"
        @hook:activated="reloadLayout"
        @addtovalidate="addToValidate"
        @changeinput="changeInput"
        :state="state"
        :is="state.component">
      </component>
    </keep-alive>
    <component v-for="component in body.components.after" :is="component"></component>
  </div>
  <g3w-form-footer ref="g3w_form_footer" :isRootComponent="isRootComponent" :backToRoot="backToRoot" :state="state"></g3w-form-footer>
</div>
