.skin-blue {
  .skin-border-color {
    border-color: @light-blue !important;
    &.lighten {
      border-color: lighten(@light-blue, 30%) !important;
    }
  }
  .skin-background-color {
    background-color: @light-blue !important;
    &.lighten {
      background-color: lighten(@light-blue, 30%) !important;
    }
    &.extralighten {
      background-color: lighten(@light-blue, 48%) !important;
    }
  }
  .skin-button {
    background: @light-blue !important;
    &.lighten {
      background: lighten(@light-blue, 30%) !important;
    }
    &.bordered {
      .skin-border-color();
    }
    &.focus {
      border:0;
    }
  }
  .skin-color {
    color: @light-blue !important;
  }

  .skin-color-dark {
    color: darken(@light-blue,20%) !important;
  }

}
