.skin-blue {
  .magic-checkbox:checked+label:before {
    border: @light-blue;
    background: @light-blue;
  }
  .magic-radio+label:after {
    background: @light-blue;
  }
  .magic-radio:checked+label:before {
    border-color: @light-blue;
  }
  .bootbox.modal.in {
    .modal-title {
      color: @light-blue;
    }
  }
}
