.skin-blue {
  .sidebar-aside-toggle, .controls-aside-toggle {
    background-color: @light-blue;
    border-bottom: 1px solid @light-blue;
  }
  .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: darken(@light-blue, 10%);
  }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: darken(@light-blue, 10%);
  }
}


