.skin-red {
  .skin-border-color {
    border-color: @red !important;
    &.lighten {
      border-color: lighten(@red, 30%);
    }
  }
  .skin-background-color {
    background-color: @red !important;
    &.lighten {
      background-color: lighten(@red, 30%) !important;
    }
    &.extralighten {
      background-color: lighten(@red, 39%) !important;
    }
  }
  .skin-button {
    background: @red !important;
    &.lighten {
      background: lighten(@red, 30%) !important;
    }
    &.bordered {
      .skin-border-color();
    }
    &.focus {
      border:0;
    }
  }
  .skin-color {
    color: @red !important;
  }
  .skin-color-dark {
    color: darken(@red,20%) !important;
  }

}
