.skin-red {
  .formquerytabs.nav-tabs  {
    li:not(.active) > a {
      color: @red;
      background-color: lighten(@red, 39%) !important;
      border: 1px solid lighten(@red, 20%);
    }
    li > a {
      color: @red;
    }
    li.active > a,  li.active > a:focus, .nav-tabs > li.active > a:hover {
      background-color: @red !important;
      color: #ffffff;
    }
    li a.tab_a.group-title {
      background-color: lighten(@red, 20%) !important;
    }
  }
}
