<div class="wrapper">
  <header class="main-header">
    <!-- Logo -->
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Toggle button on navbar only for mobile -->
      <a v-if="isMobile()" href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Expand</span>
      </a>
      <div class="logo-wrapper">
        <a v-if="logo_url" :href="logo_link" :target="logo_link_target" class=""><img :src="logo_url" style="height:40px"></a>
        <span class="">{{project_title}}</span>
      </div>
      <div v-if="user" class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-user"></i>
              <span class="hidden-xs">{{ user.username }}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <p>
                  {{ user.first_name }} {{ user.last_name }}
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a href="{{ user.admin_url }}" class="btn btn-default btn-flat"><i class="fa fa-folder"></i> Admin</a>
                </div>
                <div class="pull-right">
                  <a href="{{ user.logout_url }}" class="btn btn-default btn-flat"><i class="fa fa-sign-out"></i>Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <sidebar></sidebar>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="background-color:white">
    <viewport></viewport>
  </div>
  <!-- /.content-wrapper -->
  <!-- Control Sidebar -->
  <floatbar></floatbar>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
