<div class="wrapper">
  <header class="main-header">
    <!-- Logo -->
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Toggle button on navbar only for mobile -->
      <a v-if="isMobile()" href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Expand</span>
      </a>
      <a v-if="logo_url" :href="logo_link" :target="logo_link_target" class="navbar-left g3w-logo"><img :src="logo_url"></a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
        </ul>
      </div>
      <h3>{{ project_title }}</h3>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <sidebar></sidebar>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="background-color:white">
    <viewport></viewport>
  </div>
  <!-- /.content-wrapper -->
  <!-- Control Sidebar -->
  <floatbar></floatbar>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
