<div id="menu-projects" class="container">
  <div class="row row-equal">
    <!-- item -->
    <div v-for="menuitem in state.menuitems"  :key="menuitem.title" @click="trigger(menuitem)" class="col-xs-12 col-sm-4 project-menu">
      <div class="project-menu-item-image">
        <img :src="logoSrc(menuitem.thumbnail)" class="img-responsive">
      </div>
      <div class="project-menu-item-content">
        <div class="project-menu-item-text">
          <h4 class="project-menu-item-title">{{ menuitem.title }}</h4>
          <div v-html="menuitem.description"></div>
        </div>
      </div>
    </div>
    <div v-if="!state.menuitems.length" style="margin-left:15px;">
      <h2 v-t="'template.no_other_projects'"></h2>
    </div>
  </div>
</div>
