<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <!-- Sidebar toggle button-->
  <!-- Toggle button on the left side of main sidebar only if not mobile -->
  <a v-if="!isMobile()" href="#" class="sidebar-aside-toggle" data-toggle="offcanvas" role="button">
    <span class="sr-only">Expand</span>
  </a>
  <!--<div class="quick-actions-menu">
    <button class="btn btn-default btn-circle-medium glyphicon glyphicon-share-alt"></button>
    <button class="btn btn-default btn-circle-medium glyphicon glyphicon-modal-window"></button>
    <button class="btn btn-default btn-circle-medium glyphicon glyphicon-print"></button>
    <button class="btn btn-default btn-circle-medium glyphicon glyphicon-search"></button>
  </div>-->
	<section class="sidebar">
    <div v-show="panelsinstack" class="g3w-sidebarpanel">
      <div style="overflow: hidden;line-height: 14px;margin-top: 4px; font-size:1.5em">
          <button class="glyphicon glyphicon-remove pull-right close-panel-button" @click="closePanel"></button>
      </div>
      <div id="g3w-sidebarpanel-placeholder" class="g3w-sidebarpanel-placeholder"></div>
    </div>
	  <ul id="g3w-sidebarcomponents" v-show="showmainpanel" class="sidebar-menu"></ul>
	</section>
	<!-- /.sidebar -->
</aside>
