<div class="g3w-viewport">
  <div id="g3w-view-map" class="g3w-view map" :style="{width:state.map.sizes.width+'px',height:state.map.sizes.height+'px'}">
  </div>
  <div id="g3w-view-content" class="g3w-view content" :style="{width:state.content.sizes.width+'px',height:state.content.sizes.height+'px'}">
    <div v-if="(showtitle && contentTitle) || previousTitle || (state.content.closable && state.content.aside)" class="close-panel-block">
      <span v-if="showtitle && contentTitle">{{ contentTitle }}</span>
      <div v-else class="g3w_contents_back">
        <span v-if="previousTitle" @click="gotoPreviousContent()">Torna a {{ previousTitle }}</span>
      </div>
      <button v-if="state.content.closable && state.content.aside" class="glyphicon glyphicon-remove pull-right close-panel-button" @click="closeContent"></button>
    </div>
  </div>
</div>
