<div class="g3w-viewport">
  <div id="g3w-view-map" class="g3w-view map" :style="{width:state.map.sizes.width+'px',height:state.map.sizes.height+'px'}">
  </div>
  <div id="g3w-view-content" class="g3w-view content" :style="{width:state.content.sizes.width+'px',height:state.content.sizes.height+'px'}">
    <div class="close-panel-block">
      <span v-if="contentTitle">{{ contentTitle }}</span><button v-if="state.content.aside" class="glyphicon glyphicon-remove pull-right close-panel-button" @click="closePanel"></button>
    </div>
    <div v-if="previousTitle" class="g3w_contents_back">
      <span @click="gotoPreviousContent()">Torna a {{ previousTitle }}</span>
    </div>
  </div>
</div>
