<div class="form-group">
  <slot name="label">
    <label :for="state.name" class="col-sm-4 control-label">{{ state.label }}
      <span v-if="state.validate && state.validate.required">*</span>
      <i v-if="state.tooltip" :class="g3wtemplate.font['info']" v-t-tooltip:top.create="state.tooltip" style="margin-left: 3px; cursor: pointer"></i>
      <slot name="label-action"></slot>
    </label>
  </slot>
  <div class="col-sm-8">
    <slot name="loading"></slot>
    <slot name="body"></slot>
    <slot name="message">
      <p v-if="notvalid" class="error-input-message" style="margin: 0" v-html="state.validate.message"></p>
      <p v-else-if="state.info" style="margin: 0 " v-html="state.info"></p>
    </slot>
  </div>
</div>
