<div class="form-group">
  <slot name="label">
    <label :for="state.name" class="col-sm-4 control-label">{{ state.label }}
      <span v-if="state.validate && state.validate.required">*</span>
    </label>
  </slot>
  <div class="col-sm-8">
    <slot name="loading"></slot>
    <slot name="body"></slot>
    <slot name="message">
      <p v-if="notvalid" class="error-input-message" v-html="state.validate.message"></p>
      <p v-else-if="state.info" v-html="state.info"></p>
    </slot>
  </div>
</div>
