<div>
  <form class="form-horizontal g3w-form">
    <div class="box-primary">
      <div class="box-body">
        <template v-if="hasFormStructure">
          <template v-for="item in this.state.formstructure">
            <tabs v-if="item.type === 'tab'"
              :layerid="state.layerid"
              :feature="state.feature"
              :contenttype="'editing'"
              :addToValidate="addToValidate"
              :changeInput="changeInput"
              :tabs="item.item"
              :fields="state.fields">
            </tabs>
            <g3w-form-inputs v-else
              :state="{fields: item.item}"
              :addToValidate="addToValidate"
              :changeInput="changeInput"
              @changeinput="changeInput"
              @addinput="addToValidate">
            </g3w-form-inputs>
          </template>
        </template>
        <template v-else>
          <g3w-form-inputs
            :state="state"
            :addToValidate="addToValidate"
            :changeInput="changeInput"
            @changeinput="changeInput"
            @addinput="addToValidate">
          </g3w-form-inputs>
        </template>
      </div>
    </div>
  </form>
</div>
