.sidebar {
  color: white;
  .g3w-sidebarpanel {
    padding: 10px 15px 10px 15px;
  }
  .g3w-sidebarpanel-placeholder {
    margin-top: 10px;
    h3 {
      margin-top: 0px;
    }
  }
  .treeview-label {
    font-size: 1.1em;
    font-weight: bold;
  }
  .menu-items {
    padding: 10px 15px;
    li {
      background-color: lighten(@sidebar-dark-bg,10%);
      padding: 2px;
      margin-bottom: 2px;
      cursor: pointer;
      &:hover {
        background-color: lighten(@sidebar-dark-bg,15%);
        span {
          text-decoration: underline;
        }
      }
    }
  }
}

.main-sidebar,
.left-side {
  @media (max-width: @screen-xs-max) {
      width: @sidebar-width-small;
  }
  @media (max-width: @screen-xs-max) {
    .translate(-@sidebar-width-small, 0);
  }
  .btn {
    &.quick-action {
      color: #bbbbbb;
      background-color: @sidebar-dark-bg;
      border: 2px solid #888888;
      &:hover {
        color: #bbbbbb;
        background-color: @sidebar-dark-bg;
        border: 2px solid #888888;
      }
    }
  }
}
