.sidebar {
  .g3w-sidebarpanel {
    padding: 10px 15px 10px 15px;
  }
  .g3w-sidebarpanel-placeholder {
    margin-top: 10px;
    h3 {
      margin-top: 0px;
    }
  }
  .treeview-label {
    font-size: 1.1em;
  }
}

.main-sidebar,
.left-side {
  @media (max-width: @screen-xs-max) {
      width: @sidebar-width-small;
  }
  @media (max-width: @screen-xs-max) {
    .translate(-@sidebar-width-small, 0);
  }
  .quick-actions-menu {
    height:46px;
    width:100%;
    line-height:46px;
    background-color:
    light-grey;
    text-align:center;
    .btn {
      background-color: @sidebar-dark-bg;
      border: 2px solid #888888;
      color: white;
      margin: 0px 10px 0px 10px;
      vertical-align: middle;
      &:hover {
        color: white;
        border-color: @light-blue;
        background-color: @sidebar-dark-bg;
      }
    }
  }
}
