.content-wrapper,
.right-side,
.main-footer {
.sidebar-open & {
    @media (max-width: @screen-xs-max) {
      .translate(@sidebar-width-small, 0);
    }
  }
}

.btn {
  border-radius: 0px;
}

.btn-circle-medium {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  padding:0px;
  font-size: 1.2em;
}

.box-header {
  cursor: pointer;
}

.box-title {
  &.fa-plus, &.fa-minus {
    &:before {
      content: ""
    }
  }
}
