.content-wrapper,
.right-side,
.main-footer {
.sidebar-open & {
    @media (max-width: @screen-xs-max) {
      .translate(@sidebar-width-small, 0);
    }
  }
}

.g3w-logo {
  height: 50px; 
  line-height:50px; 
  padding: 0px 10px 0px 10px;
  img {
    height: 40px
  }
}
