<link rel="stylesheet" href="./ext/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="./ext/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="./ext/font-awesome-5.6.1/css/all.css">
<link rel="stylesheet" href="./ext/bootstrap-treeview/css/bootstrap-treeview.min.css">
<link rel="stylesheet" href="./ext/icheck/skins/all.css">
<link rel="stylesheet" href="./ext/magic-check/magic-check.min.css">
<link rel="stylesheet" href="./ext/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="./ext/hint/hint.min.css">
