<script src="./ext/jquery/jquery-2.2.1.min.js"></script>
<script src="./ext/jquery-ui/jquery-ui.min.js"></script>
<script src="./ext/bootstrap/js/bootstrap.min.js"></script>
<script src="./ext/bootbox/bootbox.min.js"></script>
<script src="./ext/lodash/lodash.min.js"></script>
<script src="./ext/eventemitter/EventEmitter.min.js"></script>
<script src="./ext/history/jquery.history.js"></script>
<script src="./ext/signals/signals.min.js"></script>
<script src="./ext/crossroads/crossroads.min.js"></script>
<script src="./ext/moment/moment.js"></script>
<script src="./ext/moment/moment-with-locales.js"></script>
<script src="./ext/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="./ext/icheck/icheck.min.js"></script>
<script src="./ext/bootstrap-treeview/js/bootstrap-treeview.js"></script>
<script src="./ext/slimScroll/jquery.slimscroll.min.js"></script>
<script src="./ext/fastclick/fastclick.js"></script>
<script src="./ext/vue/vue.min.js"></script>
<!--<script src="./ext/vue/vue-composition-api.min.js"></script>-->
<script src="./ext/vue/cookie/vue-cookie.js"></script>
<script src="./ext/jquery-file-upload/jquery.fileupload.js"></script>
<script src="./ext/jquery-fileDownload/jquery.fileDownload.js"></script>
<script src="./ext/bootstrap-filestyle/bootstrap-filestyle.min.js"></script>
<script src="./ext/ismobile/ismobile.min.js"></script>
