<baseinput :state="state">
  <div style="position:relative; width: 100%" slot="loading" v-if="loadingState === 'loading'">
    <bar-loader loading="true"></bar-loader>
  </div>
  <span slot="label-action" data-placement="top" v-t-tooltip="'sdk.form.inputs.tooltips.picklayer'" v-disabled="disabled"
    @click="pickLayerValue" v-if="showPickLayer" style="cursor: pointer; position:relative; top: 2px; font-size: 1.2em"
    :class="g3wtemplate.font['crosshairs']" class="skin-color">
  </span>
  <div slot="body" v-disabled="disabled">
    <select ref="select" style="width:100%;"  class="form-control">
      <option v-if="showNullOption" :value="select2NullValue"></option>
      <option :value="getValue(value.value)" v-for="value in state.input.options.values">{{ value.key }}</option>
    </select>
  </div>
  <p v-if="loadingState === 'error'" class="error-input-message" slot="message" v-t="'server_error'"></p>
</baseinput>
