@import "./less/main.less";

.box-shadow(@h: 1px;@v: 1px;@blur: 1px;@color: rgba(0,0,0,.25)) {
  -webkit-box-shadow: @h @v @blur @color;
     -moz-box-shadow: @h @v @blur @color;
          box-shadow: @h @v @blur @color;
}

@sidebar-width-small: 300px;

@import "./g3w-core.less";
@import "./g3w-header.less";
@import "./g3w-sidebar.less";
@import "./g3w-floatbar.less";
@import "./g3w-catalog.less";
@import "./g3w-tools.less";

.toast-top-center {
  top: 60px;
}

@import "./g3w-iternet.less";
