.sidebar {
  .g3w-sidebarpanel {
    padding: 10px 10px 10px 10px;
  }
  .treeview-label {
    font-size: 1.1em;
  }
}

.main-sidebar,
.left-side {
  @media (max-width: @screen-xs-max) {
      width: @sidebar-width-small;
  }
  @media (max-width: @screen-xs-max) {
    .translate(-@sidebar-width-small, 0);
  }
}
