.cadastre-page {
  font-size: 14px;
  .header {
    padding-bottom: 20px;
    .key {
      display: inline-block;
      width: 60px;
    }
    .value {
      font-weight: bold;
      display: inline-block;
    }
  }
}

.fade-transition {
  transition: opacity .2s ease;
}
.fade-enter, .fade-leave {
  opacity: 0;
}