.cadastre-page {
  font-size: 14px;
  .fabbricato {
    .header {
      padding-bottom: 20px;
      .key {
        display: inline-block;
        width: 60px;
      }
      .value {
        font-weight: bold;
        display: inline-block;
      }
    }
  }
  .uiu {
    .back-btn {
      cursor: pointer;
      margin-bottom: 10px;
    }
    .stadio {
      table {
        width: 100%;
        td {
          text-align: center;
          border: 1px solid lightgray;
        }
        td.firstheader {
          text-align: left;
          background-color: #f0f0f0;
        }
        td.head {
          font-weight: bold;
        }
      }
    }
  }
  thead {
    tr {
      th {
        text-align: center;
      }
    }
  }
  tbody {
    tr {
      cursor: pointer;
    }
  }
}

.fade-transition {
  transition: opacity .2s ease;
}
.fade-enter, .fade-leave {
  opacity: 0;
}