<div class="query-relation" :class="isMobile() ? 'mobile' : null">
  <div v-if="showrelationslist" class="back-btn" @click="back">
    <span class="back-link">
      <span v-t="'sdk.relations.back_to_relations'"><i :class="g3wtemplate.getFontClass('arrow-left')" style="margin-right: 5px;"></i></span>
    </span>
  </div>
  <div class="header" ref="relation-header">
    <div style="width: 100%; display: flex; justify-content: space-between;" :style="{fontSize: isMobile() ? '1em' : '1.3em'}"  style="display: flex; justify-content: space-between; align-items: center;">
      <span class="relation-tile">
        <span v-if="!isMobile()" v-t:pre="'sdk.relations.relation_data'">:</span> <b class="skin-color"> {{ relation.name }}</b>
      </span>
      <div class="relations-table-tools" v-if="table.rows.length" style="font-size: 1.1em; margin-bottom: 3px">
        <span v-if="downloadButton" style="padding: 5px;" v-download class="action-button-icon action-button skin-tooltip-left" data-placement="left" data-toggle="tooltip"
          :class="[g3wtemplate.getFontClass('download'), {'toggled-white': downloadButton.toggled}]" @click="downloadButton.handler" v-t-tooltip.create="downloadButton.tooltip"></span>
        <span v-if="showChartButton" style="padding: 5px;" class="action-button-icon action-button skin-tooltip-bottom" data-placement="bottom" data-toggle="tooltip"
          :class="[g3wtemplate.getFontClass('chart'), chart ? 'toggled-white' : '']" @click="showChart" v-t-tooltip.create="'sdk.tooltips.show_chart'"></span>
      </div>
    </div>
  </div>
  <div v-if="table.rows.length" style="display: flex; justify-content: space-between; margin-bottom: 5px; height: 95%;"  ref="relationwrapper">
    <div id="table_content" :style="{width: chart ? '70%' : '100%', marginRight: chart ? '8px' : '3px'}" style="position: relative" ref="tablecontent">
      <template v-if="headercomponent">
        <div style="width: 100%; display: flex; margin-left: auto; margin-bottom: 5px; margin-right: 4px;">
          <component :is="headercomponent" :layer="downloadLayer.state" :config="downloadLayer.config"></component>
        </div>
      </template>
      <table ref="relationtable" class="relationtable table table-striped row-border" width="100%" >
        <thead>
        <tr>
          <th v-if="table.formStructure" style="max-width: 30px !important; padding: 0 !important;"></th>
          <th v-for="column in table.columns">{{ column }}</th>
        </tr>
        </thead>
        <tbody>
        <template v-for="row in table.rows">
          <tr :class="{'selected': table.rowFormStructure === row}">
            <td @click="showFormStructureRow($event, row)" style="cursor: pointer" v-if="table.formStructure">
              <span style="max-width: 15px; width: 15px;" :current-tooltip="table.rowFormStructure === row ? 'sdk.tooltips.relations.form_to_row': 'sdk.tooltips.relations.row_to_form'"
                    class="action-button row-form skin-color skin-tooltip-right" v-t-tooltip="table.rowFormStructure === row ? 'sdk.tooltips.relations.form_to_row': 'sdk.tooltips.relations.row_to_form'"
                    data-placement="right" :class="[table.rowFormStructure === row ? g3wtemplate.getFontClass('minus') :  g3wtemplate.getFontClass('table')]"></span>
            </td>
            <template v-if="table.formStructure && table.rowFormStructure === row">
              <td :colspan="table.columns.length" class="row-wrap-tabs">
                <tabs :layerid="table.layerId" :feature="feature" :fields="fields" :tabs="table.formStructure"></tabs>
              </td>
            </template>
            <template v-else>
              <td v-for="value in row">
                <field :state="{value:value}"></field>
              </td>
            </template>
          </tr>
        </template>
        </tbody>
      </table>
    </div>
    <g3w-resize :show="chart" :moveFnc="moveFnc" :where="'content'" class="skin-border-color lighten" style="border-style: solid; border-width: 0 1px 0 1px"></g3w-resize>
    <div v-show="chart" id="chart_content" :style="{width: chart ? '30%' : '0'}" style="padding-bottom: 5px; margin-bottom: 5px; margin-left: 8px;" ref="chartcontent"></div>
  </div>
  <div v-else style="font-weight: bold; margin-top: 10px; font-size: 1.1em; background-color: #ffffff; padding: 10px;" v-t="'sdk.relations.no_relations_found'"></div>
</div>
