<div class="query-relation">
  <div v-if="showrelationslist" class="back-btn" @click="back">
    <span class="back-link">
      <span v-t="'sdk.relations.back_to_relations'"><i :class="g3wtemplate.getFontClass('arrow-left')" style="margin-right: 5px;"></i></span>
    </span>
  </div>
  <div class="header">
    <div style="width: 100%; display: flex; justify-content: space-between; font-size: 1.5em">
      <span>
        <span  v-t:pre="'sdk.relations.relation_data'">:</span> <b class="skin-color"> {{ relation.name }}</b>
      </span>
      <span v-if="table.rows.length">
        <span v-if="showDownloadButtons.shapefile" class="action-button-icon action-button skin-tooltip-left" data-placement="left" data-toggle="tooltip"
              :class="g3wtemplate.getFontClass('shapefile')" @click="saveRelation('shp')" v-t-tooltip="'sdk.tooltips.download_shapefile'"></span>
        <span v-if="showDownloadButtons.gpx" class="action-button-icon action-button skin-tooltip-left" data-placement="left" data-toggle="tooltip"
              :class="g3wtemplate.getFontClass('gpx')" @click="saveRelation('gpx')" v-t-tooltip="'sdk.tooltips.download_gpx'"></span>
        <span v-if="showDownloadButtons.csv" class="action-button-icon action-button skin-tooltip-left" data-placement="left" data-toggle="tooltip"
          :class="g3wtemplate.getFontClass('csv')" @click="saveRelation('csv')" v-t-tooltip="'sdk.tooltips.download_csv'"></span>
        <span v-if="showDownloadButtons.xls" class="action-button-icon action-button skin-tooltip-left" data-placement="left" data-toggle="tooltip"
          :class="g3wtemplate.getFontClass('excel')" @click="saveRelation('xls')" v-t-tooltip="'sdk.tooltips.download_xls'"></span>
      </span>
    </div>
  </div>
  <div v-if="table.rows.length">
    <table id="relationtable" class="table table-striped" width="100%">
      <thead>
        <tr>
          <th v-if="table.formStructure" style="max-width: 30px !important; padding: 0 !important;"></th>
          <th v-for="column in table.columns">{{ column }}</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="row in table.rows">
          <tr :class="{'selected': table.rowFormStructure === row}">
            <td
                @click="showFormStructureRow($event, row)"
                style="cursor: pointer" v-if="table.formStructure">
              <span style="max-width: 15px; width: 15px;" :current-tooltip="table.rowFormStructure === row ? 'sdk.tooltips.relations.form_to_row': 'sdk.tooltips.relations.row_to_form'"
                class="action-button row-form skin-color skin-tooltip-right" v-t-tooltip="table.rowFormStructure === row ? 'sdk.tooltips.relations.form_to_row': 'sdk.tooltips.relations.row_to_form'"
                data-placement="right" :class="[table.rowFormStructure === row ? g3wtemplate.getFontClass('minus') :  g3wtemplate.getFontClass('table')]"></span>
            </td>
            <template v-if="table.formStructure && table.rowFormStructure === row">
              <td :colspan="table.columns.length" class="row-wrap-tabs">
                <tabs :layerid="table.layerId" :feature="feature" :fields="fields" :tabs="table.formStructure"></tabs>
              </td>
            </template>
            <template v-else>
              <td v-for="value in row">
                <field :state="{value:value}"></field>
              </td>
            </template>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
  <div v-else style="font-weight: bold; font-size: 1.1em; background-color: #ffffff; padding: 10px;" v-t="'sdk.relations.no_relations_found'"></div>
</div>
