<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>G3W Client</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
  <!-- build:css css/vendor.min.css -->

    <!-- build:app_vendor_css-->
    <!-- endbuild -->

    <!-- build:plugins_css-->
    <!-- endbuild -->

  <!-- endbuild -->

  <!-- build:css css/app.min.css -->
    <link rel="stylesheet" href="../dist/client/css/app.css">
  <!-- endbuild -->
</head>
<body class="hold-transition skin-blue fixed">

  <div id="app">
    <app></app>
  </div>

  <!-- build:js js/vendor.min.js -->

    <!-- build:app_vendor_js-->
    <!-- endbuild -->

    <!-- build:plugins_js-->
    <!-- endbuild -->

  <!-- endbuild -->

  <!-- build:js js/app.min.js -->
    <script src="../dist/client/js/app.js"></script>
  <!-- endbuild -->
</body>
</html>
