<aside class="main-sidebar">
<!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto; font-size:50px; color:white">
        <p>Contenuto sidebar</p>
        <p>Contenuto sidebar</p>
        <p>Contenuto sidebar</p>
        <p>Contenuto sidebar</p>
        <p>Contenuto sidebar</p>
        <p>Contenuto sidebar</p>
        <p>Contenuto sidebar</p>
        <p>Contenuto sidebar</p>
        <p>Contenuto sidebar</p>
        <p>Contenuto sidebar</p>
        <p>Contenuto sidebar</p>
        <p>Contenuto sidebar</p>
        <p>Contenuto sidebar</p>
        <p>Contenuto sidebar</p>
        <p>Contenuto sidebar</p>
        <p>Contenuto sidebar</p>
        <p>Contenuto sidebar</p>
        <p>Contenuto sidebar</p>
        <p>Contenuto sidebar</p>
        <p>Contenuto sidebar</p>
        <p>Contenuto sidebar</p>
    </section>
<!-- /.sidebar -->
</aside>
