<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
	  <ul class="sidebar-menu">
	    <li class="header">
            <span class="btn pull-right" data-toggle="offcanvas"><i class="fa fa-remove"></i></span>
                {{header}}
            <span v-if="bPageMode" class="btn pull-left"><i class="fa fa-chevron-left"></i></span>
	    </li>
	    <sidebar-item data-icon="fa fa-search" data-label="search" data-type="inline">
          <search></search>
        </sidebar-item>
        <sidebar-item data-icon="fa fa-database" data-label="catalog" data-type="inline">
          <catalog></catalog>
        </sidebar-item>
        <sidebar-item data-icon="fa fa-gears" data-label="tools" data-type="inline">
            <sidebar-tool data-icon="fa fa-database">
                <irpi></irpi>
            </sidebar-tool>
            <!--<sidebar-tool>
                <altrotool></altrotool>
            </sidebar-tool>
            <sidebar-tool>
                <altrotoolancora></altrotoolancora>
            </sidebar-tool>-->
        </sidebar-item>
	  </ul>
	</section>
	<!-- /.sidebar -->
</aside>
