<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
    <g3w-tools-panel></g3w-tools-panel>
	  <ul v-if="activePlugin.activePlugin == ''" class="sidebar-menu">
	    <sidebar-item data-icon="fa fa-search" data-label="search" data-type="inline">
          <g3w-search></g3w-search>
        </sidebar-item>
        <sidebar-item data-icon="fa fa-database" data-label="catalog" data-type="inline">
          <g3w-catalog></g3w-catalog>
        </sidebar-item>
        <sidebar-item data-icon="fa fa-gears" data-label="tools" data-type="inline">
          <g3w-tools></g3w-tools>
        </sidebar-item>
	  </ul>
	</section>
	<!-- /.sidebar -->
</aside>
