@sidebar-width-mobile: 100%;
@sidebar-width-small: 300px;
@sidebar-width: 350px;
@control-sidebar-width: 450px;

.main-sidebar{
    &.iframe{
      padding-top:0 !important;
      a.sidebar-aside-toggle {
        top: 0! important;
      }
    }
  &.mobile {
    width: @sidebar-width-small;
  }
}

#g3w-sidebar.sidebar {
  color: white;
  position:relative !important;
  #disable-sidebar {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    z-index: 10;
  }
  .g3w-sidebarpanel {
    position: relative;
    padding: 10px 15px 10px 15px;
    .g3w-panel {
      .g3w-panel-form {
        &.disabled {}
        button.run_button {
          margin-top: 5px;
          font-weight: bold;
        }
      }
    }
    #g3w-sidebarpanel-header-placeholder {
      height: 4%;
      min-height: 35px;
    }
    .g3w-sidebarpanel-placeholder {
      height: 95%;
      margin-top: 15px;
      h3 {
        margin-top: 0;
      }
    }
  }

  .close-pane-button {
    color: transparent;
    border-radius: 30%;
    margin-top: 5px;
    line-height: 1.5em;
    height: 1.3em;
    width: 1.3em;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);;
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);;
    &:hover {
      cursor: pointer;
    }
    .panel-icon {
      color: #ffffff;
    }
  }
  .treeview-label {
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 5px;
  }
  .menu-items {
    padding: 10px 15px;
    li {
      background-color: lighten(@sidebar-dark-bg,10%);
      border-radius: .25rem;
      padding: 2px;
      margin-bottom: 2px;
      cursor: pointer;
      &:hover {
        background-color: lighten(@sidebar-dark-bg,15%);
      }
    }
  }

  .sidebar-menu > li , .sidebar-divider{
    border-bottom: 1px solid #21292d;
    &:last-child {
      border:0;
    }
  }
  // color  icons of sidebar

  #g3w-sidebarcomponents .sidebaritem a .fa-search {
    color: #8DC3E3;
  }

  #g3w-sidebarcomponents .sidebaritem a {
    .fa-map-o, .fa-map {
      color: #019A4C;
    }
  }

  #g3w-sidebarcomponents .sidebaritem  a {
    .fa-gears, .fa-cogs {
      color: #FFE721;
    }
  }

  #g3w-sidebarcomponents .sidebaritem a .fa-print {
    color: #FF9B21;
  }

  #g3w-sidebarcomponents .sidebaritem a {
    .fa-file-code-o, .fa-file-code {
      color: #ffffff;
    }
  }
}

.main-sidebar,
.main-sidebar-mobile,
.left-side {
  @media (max-width: @screen-xs-max) {
      width: @sidebar-width-mobile;
  }
  @media (max-width: @screen-xs-max) {
    .translate(-@sidebar-width-mobile, 0);
  }
  .btn {
    &.quick-action {
      color: #bbbbbb;
      background-color: @sidebar-dark-bg;
      border: 2px solid #888888;
      &:hover {
        color: #bbbbbb;
        background-color: @sidebar-dark-bg;
        border: 2px solid #888888;
      }
    }
  }
}

