.skin-dark {

  .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #eeeeee;
  }

  .tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #eeeeee;
  }

  .tabbable-line.tabs-below > .nav-tabs > li:hover {
    border-top: 4px solid #eeeeee;
  }

  .tabbable-line.tabs-below > .nav-tabs > li.active {
    border-top: 4px solid #f3565d;
  }

  .catalog .tree-item, .catalog #legend div {
    &.selected {
      background-color: @dark;
    }
  }

  #layer-menu {
    li {
      background: #394247;
      border-color: #eeeeee;
      color: #eeeeee !important;
      &.title {
        border-bottom-color: @dark !important;
      }
      &:hover {
        background: lighten(@dark, 10%);
      }
    }
    ul {
      background: #394247;
      border-color: #eeeeee;
    }
  }

}
