.skin-dark {
  .g3w-viewport {
    .g3w-view {
      &.content {
        &.split-h, &.split-v {
          border-left: 1px solid #21292d;
        }
        .table-header-tool {
          background-color: @dark;
        }
        .action-button.toggled {
          border: 2px solid lighten(@dark, 30%);
        }
        .action-button-icon {
          color: @dark;
        }
        .g3w_contents_back {
          >div {
            color: @dark;
          }
        }
      }
      .close-panel-block {
        .panel-icon {
          color: #eeeeee;
        }
      }
      #contenttitle {
        color: #eeeeee;
      }
    }
    #g3w-view-content {
      background-color: @dark;
      #layer_attribute_table {
        tbody tr.feature_attribute[selected="selected"] td{
          background: darken(@dark, 10%) !important;
        }
      }
    }
  }
}

