.skin-dark {

  /* START INPUT RANGE */

  input[type="range"] {
    background-image: linear-gradient(@dark, @dark);
  }

  /* Input Thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: @dark;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }

  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: @dark;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }

  input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: @dark;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }

  input[type="range"]::-webkit-slider-thumb:hover {
    background: #eeeeee;
  }

  input[type="range"]::-moz-range-thumb:hover {
    background: #eeeeee;
  }

  input[type="range"]::-ms-thumb:hover {
    background: #eeeeee;
  }

  /* Input Track */
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  /* END INPUT RANGE */

  .form-control:focus {
    border-color: @dark !important;
  }

  .modal-title {
    font-weight: bold;
  }

  .modal-content {
    background-color: @dark !important;

    .modal-header {
      border-bottom: 1px solid #21292d !important;

      .bootbox-close-button {
        color: #ffffff !important;
        opacity: 0.8 !important;
      }

      color: #ffffff !important;
      font-weight: bold !important;
    }
  }

  .magic-checkbox:checked + label:before {
    border: 1px solid #eeeeee;
    background: @dark;
  }

  .magic-radio + label:after {
    background: #eeeeee;
  }

  .magic-radio:checked + label:before {
    border-color: #eeeeee;
  }

  .bootbox.modal.in {
    .modal-header {
      background-color: #eeeeee;
    }

    .modal-title {
      color: @dark;
    }
  }

  .c3-title {
    fill: #eeeeee;
  }
  .select2-container--default .select2-results__option{
    color: @dark;
  }

  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: @dark !important;
    color: #eeeeee;
  }

  .select2-container--default .select2-results__option[aria-selected=true] {
    background-color: lighten(@dark, 20%);
    color: #eeeeee;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: @dark;
  }

  .dataTables_info {
    color: #eeeeee;
  }

  .dataTables_paginate {
    .paginate_button {
      color: #eeeeee !important;
    }
  }

  .dataTables_scroll {
    border-color: #21292d !important;
  }

  .dataTables_length {
    color: #eeeeee !important;

    select {
      color: @dark !important;
    }
  }

  .dataTables_scrollHeadInner {
    table {
      &.table-striped {
        thead {
          background-color: #707070;

          tr th {
            border-color: @dark;
          }
        }
      }
    }
  }

  table {
    &.table-striped {
      tbody {
        tr.selected {
          background-color: darken(@dark, 10%) !important;
        }

        tr td {
          border-color: @dark;
        }
      }

      tr {
        color: #eeeeee;

        &.odd {
          background-color: #394247 !important;
        }

        &.even {
          background-color: #707070 !important;
        }
      }
    }
  }
  .bootstrap-datetimepicker-widget {
    background-color: @dark !important;
    border-color: @dark !important;
    table {
      background-color: #394247 !important;
      color: #eeeeee !important;
      thead tr th:hover {
        background-color: @dark !important;
        color: #eeeeee !important;
      }
      tbody span:hover, tbody td.day:hover {
        background-color: @dark !important;
        color: #eeeeee !important;
      }
    }
  }

}
