.skin-dark {
  .datetimeinput{
    color: @dark
  }
  .main-sidebar,
  .main-sidebar-mobile{
    background-color: @dark;
  }
  #g3w-sidebar.sidebar {
    ul.sidebar-menu {
      li > .treeview-menu {
        margin: 0 1px;
        background: #2c3b41;
      }
      .sidebar-button {
        color: @dark;
      }
      li.sidebaritem {
        a {
          span.treeview-label {
            color: #FFFFFF !important;
            &:hover{
              color: lighten(@dark, 30%) !important;
            }
          }
        }
      }
    }
  }
}