.skin-dark {
  .g3w-editing-panel {
    .toolboxselected {
       box-shadow: 0 0 0 3px @dark;
      -webkit-box-shadow:  0 0 0 3px @dark;
      -moz-box-shadow:  0 0 0 3px @dark;
      -o-box-shadow:  0 0 0 3px @dark;
    }
    .warning-message {
      color: darken(@dark, 80%);
    }
  }
  .g3w-editing-table {
    .editing_table_title {
      color: darken(@dark, 20%);
    }
  }
  .gutter-vertical {
    background-color: @dark;
  }
  .toolbox .panel .panel-body{
    background-color: #3a4448;
  }
}




